<!DOCTYPE html>
<html>

<head>
  <title>Welcome</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--custom CSS-->
  <link rel="stylesheet" href="/css/style.css" />
  <!--Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
</head>

<body class="plant2">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <h1 class="">CanURecycleIt</h1>
        <ul class="right hide-on-med-and-down">
          <li><a href="/logout">Logout</a></li>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="/logout">Logout <%= name %></a></li>
  </ul>

  <div class="col-md-4 col-md-offset-4">
    <div>
      <center>
        <h1>Welcome <%= name %>
        </h1>
        <p>Thanks for choosing to recycle responsibly.</p>
        <p>To set your location, click on the button below.</p><br>
        <div class="abc">
          <a href="/location" class="waves-effect waves-light btn">Set location</a>
        </div>
      </center>
    </div>
  </div>

  <div class="bottom-nav">
    <div>
      <a href="/history"><i class="material-icons">home</i></a>
    </div>
    <div>
      <a href="/chat"><i class="material-icons">chat</i></a>
    </div>
    <div class="middle-bottom">
      <div>
        <a href="/upload"><i class="material-icons">upload</i></a>
      </div>
    </div>
    <div>
      <a href="/history"><i class="material-icons">history</i></a>
    </div>
    <div>
      <a href="/profile"><i class="material-icons">person</i></a>
    </div>
  </div>
  <!--Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!--Get the google icons-->
  <link href=https://fonts.googleapis.com/icon?family=Material+Icons rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/history.js"></script>
  <script src="/js/navbar.js"></script>
</body>

</html>